In [1]:
import pandas as pd

### 데이터 불러오기

In [2]:
data1 = pd.read_csv('data/미세먼지_2017.csv', parse_dates=["측정일자"], encoding='CP949')
data2 = pd.read_csv('data/미세먼지_2018.csv', parse_dates=["측정일자"], encoding='CP949')
data3 = pd.read_csv('data/미세먼지_2019.csv', parse_dates=["측정일자"], encoding='CP949')
data4 = pd.read_csv('data/미세먼지_2020.csv', parse_dates=["측정일자"], encoding='CP949')

In [3]:
tem = pd.read_csv('data/평균기온.csv', parse_dates=["일시"], encoding='CP949')

In [4]:
high_tem = pd.read_csv('data/구별일자별최고기온.csv', parse_dates=["측정일자"], encoding='CP949')

In [5]:
spot = pd.read_csv('data/관측지점.csv', encoding='CP949')

### 미세먼지 데이터 병합

In [6]:
air = pd.concat([data1,data2,data3,data4])

### 데이터 확인

In [7]:
air

           측정일자  지점명  미세먼지
0    2017-06-01  강남구  42.0
1    2017-06-01  강동구  43.0
2    2017-06-01  강북구  27.0
3    2017-06-01  강서구  42.0
4    2017-06-01  관악구  41.0
...         ...  ...   ...
2295 2020-08-31  용산구  12.0
2296 2020-08-31  은평구   6.0
2297 2020-08-31  종로구  13.0
2298 2020-08-31   중구   9.0
2299 2020-08-31  중랑구  10.0

[8575 rows x 3 columns]

In [8]:
tem

        지점   지점명         일시  평균기온
0      400    강남 2017-06-01  23.7
1      401    서초 2017-06-01  23.7
2      402    강동 2017-06-01  23.4
3      403    송파 2017-06-01  23.7
4      404    강서 2017-06-01  22.6
...    ...   ...        ...   ...
10019  424    강북 2020-08-31  27.1
10020  425    남현 2020-08-31  25.5
10021  509    관악 2020-08-31  25.9
10022  510  영등포  2020-08-31  27.7
10023  889   현충원 2020-08-31  26.6

[10024 rows x 4 columns]

In [9]:
spot

     지점  지점명       위도        경도
0   400   강남  37.4982  127.0816
1   401   서초  37.4846  127.0260
2   402   강동  37.5555  127.1450
3   403   송파  37.5115  127.0967
4   404   강서  37.5739  126.8295
5   405   양천  37.5296  126.8782
6   406   도봉  37.6661  127.0295
7   407   노원  37.6219  127.0919
8   408  동대문  37.5846  127.0604
9   409   중랑  37.5855  127.0868
10  410  기상청  37.4933  126.9174
11  411   마포  37.5517  126.9292
12  412  서대문  37.5705  126.9408
13  413   광진  37.5338  127.0857
14  414   성북  37.6117  126.9994
15  415   용산  37.5204  126.9761
16  416   은평  37.6465  126.9426
17  417   금천  37.4655  126.9002
18  418   한강  37.5249  126.9390
19  419   중구  37.5524  126.9874
20  421   성동  37.5472  127.0389
21  422  북악산  37.6034  126.9844
22  423   구로  37.4940  126.8270
23  424   강북  37.6397  127.0258
24  425   남현  37.4635  126.9815
25  509   관악  37.4528  126.9502
26  510  영등포  37.5271  126.9071
27  889  현충원  37.5004  126.9765

### 관측소별 일별 평균기온

In [10]:
avg_tem = tem.groupby('지점명').mean()

In [11]:
avg_tem

       지점       평균기온
지점명
강남    400  26.042623
강동    402  25.433149
강북    424  25.808424
강서    404  25.468245
관악    509  23.879292
광진    413  25.554420
구로    423  25.325620
금천    417  25.774652
기상청   410  25.598093
남현    425  24.621644
노원    407  24.572480
도봉    406  24.795879
동대문   408  25.635440
마포    411  25.545179
북악산   422  23.487222
서대문   412  24.840934
서초    401  25.811202
성동    421  25.805435
성북    414  24.752747
송파    403  26.023433
양천    405  26.060929
영등포   510  26.161957
용산    415  26.080992
은평    416  24.069468
중구    419  24.381522
중랑    409  26.046301
한강    418  25.846196
현충원   889  25.475549

### 관측소 좌표 X 평균기온

In [12]:
spot_avg_tem = pd.merge(spot, avg_tem)

In [13]:
spot_avg_tem

     지점  지점명       위도        경도       평균기온
0   400   강남  37.4982  127.0816  26.042623
1   401   서초  37.4846  127.0260  25.811202
2   402   강동  37.5555  127.1450  25.433149
3   403   송파  37.5115  127.0967  26.023433
4   404   강서  37.5739  126.8295  25.468245
5   405   양천  37.5296  126.8782  26.060929
6   406   도봉  37.6661  127.0295  24.795879
7   407   노원  37.6219  127.0919  24.572480
8   408  동대문  37.5846  127.0604  25.635440
9   409   중랑  37.5855  127.0868  26.046301
10  410  기상청  37.4933  126.9174  25.598093
11  411   마포  37.5517  126.9292  25.545179
12  412  서대문  37.5705  126.9408  24.840934
13  413   광진  37.5338  127.0857  25.554420
14  414   성북  37.6117  126.9994  24.752747
15  415   용산  37.5204  126.9761  26.080992
16  416   은평  37.6465  126.9426  24.069468
17  417   금천  37.4655  126.9002  25.774652
18  418   한강  37.5249  126.9390  25.846196
19  419   중구  37.5524  126.9874  24.381522
20  421   성동  37.5472  127.0389  25.805435
21  422  북악산  37.6034  126.9844  23.487222
22  423   구로  37.4940  126.8270  25.325620
23  424   강북  37.6397  127.0258  25.808424
24  425   남현  37.4635  126.9815  24.621644
25  509   관악  37.4528  126.9502  23.879292
26  510  영등포  37.5271  126.9071  26.161957
27  889  현충원  37.5004  126.9765  25.475549

In [14]:
# spot_avg_tem.to_csv("관측소별일별평균기온.csv", encoding="CP949")

### 자치구별 일별 미세먼지 평균

In [15]:
avg_air = air.groupby('지점명').mean()

In [16]:
avg_air

           미세먼지
지점명
강남구   27.421053
강동구   28.373178
강북구   28.233236
강서구   28.527697
관악구   29.896755
광진구   27.504373
구로구   26.180758
금천구   27.574344
노원구   27.498542
도봉구   27.174927
동대문구  24.440233
동작구   30.390029
마포구   27.167164
서대문구  26.583090
서초구   27.953353
성동구   29.367347
성북구   29.718475
송파구   27.306122
양천구   29.629738
영등포구  31.530612
용산구   26.699708
은평구   28.097345
종로구   26.160350
중구    26.011662
중랑구   26.524781

In [17]:
# avg_air.to_csv("자치구별일별미세먼지평균.csv", encoding="CP949")

### 구별 폭염일수

In [18]:
hotday = high_tem[high_tem['최고기온'] >= 33]

In [19]:
hotday

       지점명       측정일자  최고기온
379    관악구 2017-06-16  34.6
395    용산구 2017-06-16  33.1
429    관악구 2017-06-18  34.5
551    강동구 2017-06-23  33.5
552    강북구 2017-06-23  33.1
...    ...        ...   ...
9060  영등포구 2020-08-26  35.3
9061   용산구 2020-08-26  36.7
9062   은평구 2020-08-26  33.0
9063   종로구 2020-08-26  34.4
9065   중랑구 2020-08-26  35.4

[1537 rows x 3 columns]

In [20]:
hotday = hotday.groupby('지점명').count()

In [21]:
hotday = hotday.drop(['측정일자'], axis=1)
hotday.columns = ['폭염일수']

In [22]:
hotday

      폭염일수
지점명
강남구     76
강동구     62
강북구     78
강서구     54
관악구     33
광진구     65
구로구     66
금천구     56
노원구     53
도봉구     53
동대문구    56
동작구     68
마포구     65
서대문구    57
서초구     76
성동구     56
성북구     47
송파구     66
양천구     73
영등포구    72
용산구     72
은평구     44
종로구     60
중구      56
중랑구     73

In [23]:
# hotday.to_csv("구별폭염일수.csv", encoding="CP949")